.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  background: radial-gradient(
    circle at 7.4% 45.1%,
    rgb(236, 206, 251) 0%,
    rgb(205, 237, 246) 45.1%,
    rgb(227, 251, 252) 78.4%,
    rgb(230, 247, 235) 90%
  );

  padding: 20px;
  border-radius: 20px;
  max-width: 60%;
  margin: 0 auto;
}
h1 {
  position: relative;
  width: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  color: slateblue;
}
button {
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: rgb(253, 183, 220);
  box-shadow: steelblue;
  border-radius: 15px;
}
h2 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: slateblue;
  margin: 0 auto;
  display: block;
  font-size: 25px;
  margin-top: 10px;
}
h3 {
  color: slateblue;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
h4 {
  font-family: "Poppins", sans-serif;
  color: slateblue;
  font-size: 30px;
  text-align: center;
  margin: 10px;
}
img {
  display: block;
  margin: 0 auto;
}
.current {
  text-align: center;
  color: slateblue;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 5px;
}
.wind {
  color: mediumslateblue;
  font-style: italic;
  display: flex;
  justify-content: space-evenly;
}

.humidity {
  color: mediumslateblue;
  font-style: italic;
  display: flex;
  justify-content: space-evenly;
}
.col-2 {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.row {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  color: slateblue;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
}
.forecast-date {
  text-align: center;
  margin: 0 auto;
}
.forecast-icon {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}
.forecast-temp {
  text-align: center;
  margin: 0 auto;
}
footer {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: rgb(253, 183, 220);
}
a {
  text-decoration: none;
  color: blueviolet;
}
.Unit {
  color: slateblue;
}
