.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 400px;
}
.container {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
  padding: 10px;
  border-radius: 20px;
}
.card-header {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: lightcoral;
}
.link {
  text-decoration: none;
  color: lightseagreen;
}
footer {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: lightcoral;
}
