.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 65%;
}
.container {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(47, 232, 244) 0.1%,
    rgba(160, 244, 202, 0.86) 57.5%
  );
  padding: 10px;
  border-radius: 20px;
}
.card-header {
  font-weight: bold;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: lightseagreen;
}
.link {
  text-decoration: none;
  color: lightseagreen;
}
footer {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: rgb(253, 183, 220);
}
