form {
  text-align: left;
  padding: 10px;
}
.Weather-results button {
  font-family: "Poppins", sans-serif;
  background-color: rgb(253, 183, 220);
}
.Weather-results h2 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: lightsalmon;
  margin: 0 auto;
  display: block;
  font-size: 40px;
  font-weight: bolder;
  margin-top: 10px;
}
h3 {
  color: lightsalmon;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: left;
}
h4 {
  font-family: "Poppins", sans-serif;
  color: lightsalmon;
  font-size: 30px;
  text-align: center;
  margin: 10px;
}
img {
  display: block;
  margin: 0 auto;
}
.current {
  text-align: center;
  color: lightsalmon;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 5px;
}
.wind {
  color: lightsalmon;
  font-style: italic;
  display: flex;
  justify-content: space-evenly;
}

.humidity {
  color: lightsalmon;
  font-style: italic;
  display: flex;
  justify-content: space-evenly;
}
.Weather-results .row {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  color: lightsalmon;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
}
.forecast-date {
  text-align: center;
  margin: 0 auto;
}
.forecast-icon {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}
.forecast-temp {
  text-align: center;
  margin: 0 auto;
}
footer {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: rgb(253, 183, 220);
}
a {
  text-decoration: none;
  color: lightseagreen;
}
.Unit {
  color: lightsalmon;
}
